<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание №3</title>
</head>
<body>
    <h1>Приветствую Вас на стартовой страничке ДЗ № 3!!!</h1><br>
    <h2>Чтобы получить все заказы клиента со списком товаров необходимо перейти<br>
        по адресу: 127.0.0.1:8000/client_orders/client_id<br><br>
        Чтобы получить все продукты клиента за определенное количество дней<br>
        необходимо перейти по адресу: 127.0.0.1:8000/client_orders_period/client_id/period
    </h2>
</body>
</html>